*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    @include flexCenter();
    font-size: 12px;
    height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}

h1{
    color:black;
    margin:0px;
}

/* main section */
main{
    width: 1152px;
    height: 70vh;
    display: flex;
    background-color: white;
    border-radius: 2rem;
}

/* main section ends */

/* left section */
.left{
    background:url('./images/illustration-woman-online-desktop.svg'),url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: -75px center,-576px 77%;
    position: relative;
width: 50%;
    img{
        position: absolute;
        top:43%;
        left:-20%;
    }

}
/* left seciton ends */

/* right section */
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
width: 48%; 
   margin: 100px -100px 0px 0px;
    .title{
        h1{
            font-weight: 700;
            font-size: 40px;
            color: hsl(237, 12%, 33%);
        }
    }
    .questions{
        height: 100%;    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
        .qa{
            border-bottom: 1px solid  hsl(240, 5%, 91%);
            display: flex;
            flex-direction: column;
            h2{
                color: hsl(238, 29%, 16%);
                font-weight: 400;
                letter-spacing: 1px;
                display: inline-block;
                padding:10px 0px;
                img{
                    float:right;
                    cursor: pointer;
                }
            }
            p{
                color: hsl(240, 6%, 50%);
                display: none;
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
}
/* right section ends*/

.attribution{
    position: absolute;
    bottom:1px;
}

/* media query */
@media screen and (max-width:1282px){
    body{
        height: 768px;;
    }
    main{
        flex-direction: column;
        align-items:   center ;
        min-height: 70vh;
        max-width: 375px;
margin:0px 10px;    }
    .left{
        background:url('./images/illustration-woman-online-mobile.svg'),url('./images/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-position: center top,75px 95px;
        height: 50%;
        width: 100%;
        margin-top:-29%;
       img{
            visibility: hidden;
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        height:100%;    
        width: 90%;
        margin: 0px -100px 0px -100px;
        padding:20px 0px;

        .questions{
        .qa{
            h2{
                font-size: 13px;
                letter-spacing: 0px;
            }
            p{
                font-size: 10px;
                line-height: 15px;
            }
        }
 
       }   }
}